@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #1A0B2E;
    
  
}
.header{
    display: block;
}
 /* shared styles  */
.display-flex{
    display: flex;
}

.text-p{
    color: #FFFFFF;
}

.btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 50px;
    background: linear-gradient(180deg,
        #a900ff 0%,
        #d600d8 45%,
        #ff4b7d 72%,
        #ff9d45 100%);
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        border: none;
    }
    .btn-2{
        width: 147px;
        height: 44px;
    background: none;
    border: 2px solid #00FF88;
    padding: 12px 20px;
}
    .g-color{
    background: linear-gradient(
        180deg,
        #a900ff 0%,
        #d600d8 45%,
        #ff4b7d 72%,
        #ff9d45 100%
    );

    background-clip: text;
    color: transparent;
}

/* header styles */

.navbar{
    width: 100%;
    max-width: 1600px;
    height: 92px;
    /* padding: 16px; */
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom-width:thin ;
}


.nav-item{
    list-style: none;
    margin-right: 32px;
}

.nav-link{
    text-decoration:none;
    
    font-size:1rem;
     font-weight:500; 
    line-height:120%;
}

.menu-icon{
    display: none;
}

.banner{
    margin: 0;
    min-height: 760px;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.banner-image{
    position: relative;
    
}
.main-image{
    display: block;
    width: 350px;
    height: 350px;
}
.top-image{
    position: absolute;
    height: 116px;
    height: 175px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.new-badge{
    position: absolute;
   
    color: #00FF88;
    top: 20px;
    right:8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 8px 16px;
    background: #00FF88;
    color: #1A0B2E;
    border-radius: 16px;
    border: none;
}
.banner-content {
    text-align: center;
}

.banner-content h2{
    font-weight: 800px;
    font-size: 3.75rem;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.banner-content p{
    font-size: 1rem;
    font-weight: 100;
   color: #FFFFFF;
   margin-bottom: 24px;
}

.Spotify {
     width: 200px;
     height: 44px;
     padding: 12px 20px;
}

/* about */
.about-container{
    max-width: 1200px;
    margin: 0 auto;
}

.about-info{
    margin-top: 50px;
    
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom-width:thin ;
    

}

.about-info h3{
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-info p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 20px;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    /* border: 1px solid #00FF88; */
    width: 240px;
    height: 94px;
    margin-top: 80px;
    /* margin-bottom: 120px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card h3{
    font-weight: 600;
    font-size: 3rem;
    color: #00FF88;
    margin-top: 0;
    margin-bottom: 16px;
}
.card p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 20px;
    color: #FFFFFF;
    /* margin-bottom: 100px; */
}

/*  Why Choose Section */
.choose{
    width: 100%;
    /* max-width: 1600px; */
    background-color: #230E3D;
    margin:0 auto;
    text-align: center;
    padding: 70px 0 80px;
    margin-top: 100px;

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container h2{
    margin:0 0 30px;
    font-size: 3rem;
    font-weight: 700;
}
.Choose-container{
    /* max-width: 1200px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr) ; */
    grid-template-rows: 220px 220px 280px;
    gap: 30px;
    width: 100%;
}

.Choose-box{
    box-sizing: border-box;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    text-align: left;
    overflow: hidden;
}

.box-1{
    /* width: 380px;
    height: 480px; */
    grid-column: span 1;
    grid-row: span 2;
}

.box-2, .box-3{
    /* width: 790px;
    height: 250px; */
    grid-column: span 2;
    grid-row: span 1;
}

.box-4{
    /* width: 790px;
    height: 279 px; */

    grid-column: span 2;
    grid-row: span 1;
}
.box-5{
    /* width: 380px;
    height: 276px; */

    grid-column:span 1;
    grid-row:span 1;

    
}

.Choose-box img {

    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 15px;
}

.Choose-box h3 {

    margin: 0 0 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.Choose-box p {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

<!-- Featured Episodes Sectios-->


.featured-container{
    width: 100%;
    /* margin: 120px 200px; */
    /* padding: 50px 20px; */
}

.episodes-secttion{
    max-width: 1200px;
    margin: 0 auto;
    
}

.section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}


.episode-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.episode-card{
    overflow: hidden;
    background-color: #250D44;
    border-radius: 14px;
    
}

.episode-video{
    width: 100%;
    overflow: hidden;
}


.episode-info {
    padding: 15px;
}

.episode-info h3 {
    color: #ffffff;
    font-size: 1.rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.episode-info p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 12px;
}
.episode-info > span{
    color: #00FF88;
}
   
@media screen and (max-width: 576px) {
    body{
        width: 100%;
    }
    .navbar{
        width: 100%;
        height: 66px;
    }
    .banner {
        flex-direction: column;
    }

    

    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }

   
    .brand {
        font-size: 30px;
    }
    .nav-links {
    display: none;
    }
    .navbar > .btn {
    display: none;
}
    
    .menu-icon {
        display: block;
        color: #ffffff;
        font-size: 24px;
        cursor: pointer;
    }
        /* ===== Banner ===== */
    .banner {
        width: 100%;
        height: 466px;
        min-height: auto;
        margin-top: 0;
        padding: 60px 20px 70px;
        box-sizing: border-box;
        /* background-size: cover; */
        
        
    }
    .banner-image{
        top: 50px;
    }

    


   
    

    .main-image {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .top-image {
        width: auto;
        height: 105px;
    }
/* about */
    .about-container{
        width: 100%;
        height:570px;
    }

    .card-info{
        width: 100%;
        height: 208px;
    }

    .card-container{
        width: 100%;
        height: 208px;
    }
    

    .Choose-container, .episode-content{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-container{
        width: 100%;
        /* padding: 0px; */
    }

    @media screen and (min-width:576px) and (max-width: 992px){
        /* .episode-content {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
    } */

    


 



    




    


    
    

    



 

    
    
}

